html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.listUpload {
  padding: 5%;
}

.listUpload .ant-upload-list {
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
}

.listUpload .ant-upload-list-picture-card-container, .listUpload .ant-upload-select-picture-card {
  width: 200px !important;
  height: 200px !important;
  margin: 1%;
}

.listUpload .ant-upload-list-picture-card .ant-upload-list-item-thumbnail .anticon svg {
  width: 100px !important;
  height: 100px !important;
}

.listUpload .ant-upload-list-item-info .ant-upload-span .ant-upload-list-item-thumbnail {
  font-size: 20px;
}

.listUpload .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-eye, .listUpload .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-delete {
  font-size: 24px;
  width: 24px;
}

.cardItem .ant-card-body .ant-card-meta-title {
  white-space: pre-wrap;
  margin-bottom: 0;
}

.cardItem .ant-card-actions>li {
  margin: 0;
}

.cardItem .ant-card-meta-detail {
  overflow: hidden;
  height: 70px;
}